<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https:/thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <div th:insert="product:: css"></div>
</head>
<body>
    <table >
    <ul th:each="user : ${users}" th:border="1">
            <li th:text="${user.username}">a</li>
            <li th:text="${user.email}">d</li>
            <li th:text="${user.role}"></li>
        </ul>
    </table>
    <div class="container">
    <form th:action="@{/new}" method="post">
        Введите имя пользователя:
        <input type="text" name="username">
        <button type="submit">изменить роль</button>
        <span th:text="${AddAdm}">d</span>
    </form>
    </div>
<div th:insert="product :: scripts"></div>
</body>
</html>